template(name="collage")
  .jumbotron#image-container
    #images
      each images
        +imagePiece

    button.next-button.btn.btn-fab.btn-raised.btn-material-indigo
      i.mdi-navigation-arrow-forward

template(name="imagePiece")
  div
    a(href="{{pathFor 'collage'}}")
      img(src=address)
