template(name="appContent")
  .jumbotron
    h1 I wish I had something to put here! OH WELL... ¯\_(ツ)_/¯
    +hello

template(name="hello")
  button.btn.btn-info(type="button") Experimenting things here haha!
  hr
  each buttons
    button.btn.btn-primary(type="button") {{name}}
    br

