head
  meta(name="viewport", content="width=device-width, initial-scale=1")


template(name="appBody")
  .row
    .col-sm-2
    .col-sm-8.col-xs-12#app
      .navbar.navbar-material-indigo.navbar-fixed-top.shadow-z-2
        .container-fluid.navbar-inner
          .navbar-header
            a.navbar-brand(href="/") Home
          
          ul.nav.navbar-nav
            li
              a(href="{{pathFor 'newTest'}}") Start the test!
            li
              a(href="{{pathFor 'hello'}}") Lol

      #content.row
        +yield
    .col-sm-2
      p {{results}}
