body {
  background: #dddddd;
}

.center {
  text-align: center;
}

.nowrap {
  white-space: nowrap;
}

#app {
  max-height: calc(100vh - 80px);
  display: flex;
}

.navbar {
  z-index: 10;

  .nav, .nav > li {
      float: none;
      display: inline-block;
      vertical-align: top;
      margin: 0px;
  }

  .navbar-header {
    display: inline-block;
    float: left;
  }

  .navbar-inner {
      text-align: center;
  }
}

// .navbar-fixed-top {
//   right: inherit;
//   left: inherit;
//   width: inherit;
// }

#content {
  display: flex;
  flex: auto;

  padding: 15px;
  // margin-top: 35px;
}

@media (max-width: 768px) {
  .navbar, #content-container {
    margin-bottom: 0px;
  }

  #app {
    margin-top: -2px;
    max-height: none;
    height: calc(100vh - 50px);
  }

  #content {
    padding: 0px;
  }
}

#content-container {
  flex: auto;
  display: flex;
  padding: 0;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
}

.container {
  width: 100%;
}

#home {

  #description {
    padding: 3.5% 10%;
  }
}