template(name='results')
  #results.container
    .row
      .col-xs-12.center.nowrap
        h2.result-title Results

    .row
      .col-xs-12.center.nowrap
        h5.result-label.left Extraversion
        .progress.progress-striped.active
          .progress-bar(style="width: {{ result.I }}")
        h5.result-label.right Introversion

    .row
      .col-xs-12.center.nowrap
        h5.result-label.left Sensing
        .progress.progress-striped.active
          .progress-bar.progress-bar-warning(style="width: {{ result.N }}")
        h5.result-label.right Intuition

    .row
      .col-xs-12.center.nowrap
        h5.result-label.left Feeling
        .progress.progress-striped.active
          .progress-bar.progress-bar-success(style="width: {{ result.T }}")
        h5.result-label.right Thinking

    .row
      .col-xs-12.center.nowrap
        h5.result-label.left Judging
        .progress.progress-striped.active
          .progress-bar.progress-bar-danger(style="width: {{ result.P }}")
        h5.result-label.right Perceiving
