
.next-button {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

#images {
  flex: auto;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;

  overflow: scroll;
  padding: 5%;

  position: relative; // for animation manipulating 'left'

  .image {
    flex: auto;

    min-width: 33%; // three columns
    max-width: 50%; // two columns
    min-height: 30vh; // almost third of the screen height
    background-size: cover;
    background-position: center center;

    position: relative; // To absolutely position the dark overlay
  }
}

// This is all added to make the 'darkened overlay on hover' effect, also to keep that when selected
.image {
  &:after {
    content: '\A';
    position: absolute;
    width: 100%; height :100%;
    top: 0 ; left: 0;
    background: rgba(0,0,0,0.6);
    opacity: 0;
    transition: all 0.5s;
  }

  &:hover:after, &.selected:after {
    opacity: 1;
  }

  &.selected {
    // box-shadow: 0px 0px 20px 5px gray;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -webkit-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
  }
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}