template(name="collage")
  #images
    each images
      +imagePiece

  .next-collage.next-button.btn.btn-fab.btn-raised.btn-material-indigo
    i.mdi-navigation-arrow-forward

template(name="imagePiece")
  .image(style="background-image: url('{{address}}')", data-id=_id)
